@import './base';

.pd15{
    padding: 0 15px 0 15px;
}

 .header{
    background-image: linear-gradient(90deg,#0af,#0085ff);
    padding-top: 1rem;
    .location{
        @extend .pd15;
        color: white;
        line-height: 2.5;
    }
    .search{
        @extend .pd15;
        padding-bottom: 15px;
        .search-box{
            height: 3rem;
            width: 100%;
            background: white;
            text-align: center;
            line-height:3rem;
            color: gray;
            // &:after{
            //     content: ".";
            //     visibility:hidden;
            //     width: 100%;
            //     height: 1rem;
            // }
        }
       
    }
    
    
 }
 .swipper{
    height: 15rem;
    background: #eee;
    
}
.ads{
    @extend .pd15;
  
    .adsbox{
        float: left;
        background: #000;
        height: 3rem;
        width: 50%;
    }
    .rd-border{
        padding-right: 2px;
        border-right: 2px solid #ffffff;
    }
}
div {
    font-size:2rem;
}